/* Footer.module.css */

.footer {
  background-color: #2b2b2bf4;
  color: #d1d5db;
  padding: 32px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4em;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.info {
  text-align: center;
}

.info p {
  margin-bottom: 8px;
}

.contact {
  font-weight: bold;
  font-size: large;
}

.contact p {
  display: flex;
  text-align: center;
  gap: 10px;
}

.address {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

.address p {
  display: flex;
  text-align: center;
  gap: 10px;
}

.copyright {
  font-weight: bold;
  font-size: large;
}
